#Toaster {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: fixed;
    width: 288px;
    line-height: 1.5;
    bottom: 24px;
    right: 24px;
    z-index: 4;
    font-size: 12px;
    box-shadow: rgba(0, 0, 30, 0.3) 0px 1px 4px;
    user-select: none;
    margin-top: 16px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    transition: all 200ms ease 0s;
}

#Toaster :global {
    animation: 400ms ease 0s 1 normal none running fadeInRight;
}

#Toaster header {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 10px;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border-radius: 4px 4px 0px 0px;
}

#Toaster header span {
    min-width: 25%;
    padding-top: 4px;
    overflow-wrap: break-word;
    width: 100%;
}

#Toaster main {
    color: rgb(17, 17, 17);
    font-size: 12px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 16px;
}

@keyframes :global(fadeInRight) {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}